body {
    min-width: 800px;
    max-width: 1200px;
    /*center if exceeds 1200px*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner {
    width: 800px;
    height: 250px;
    background-color: red;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section ul li {
    list-style-type: none;
}