body {
    min-width: 800px;
    max-width: 1200px;
    overflow: auto;
    white-space: nowrap;
}

header, footer {
    text-align: center;
}

#banner {
    width: 800px;
    height: 250px;
    background-color: red;
    margin: auto;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 800px;
    max-width: 800px;
    margin: auto;
}

section ul {
    padding: 0px;
}

section ul li {
    list-style-type: none;
}

section ul li a {
    text-decoration: none;
}