body {
    font-family: Athelas, sans-serif;
    line-height: 1.45em;
    background-color: white;
}

#forms {
    overflow: hidden;
    max-width: 75ch;
}

#mainImg {
    height: 425px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 0px;
    margin-top: 50px;
}

article {
    background-color: white;
    padding: 15px;
    margin: auto;
    width: 650px;
}

.orange {
    width: 100%;
    background: linear-gradient(#F7A616 0%, #ffffff 90%);
}

date {
    color: #F7A616;
}

a {
    text-decoration: none;
    color: #F7A616;
}

footer a {
    padding-left: 25px;
    padding-bottom: 10px;
}

footer {
    margin-top: 20px;
}

.italics {
    font-style: italic;
}

#threePic {
    height: 310px;
}

